*{
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'times new roman';
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.parent{
  height: 100px;
  width: 100px;
  /* background-color: white; */
}

.card{
  padding: 15px;
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 1px solid #dadada;
}

.top button{
display: flex;
align-items: center;
border: 1px solid #dadada;
height: 25px;
padding: 3px 6px;
border-radius: 5px;
font-size: 12px;
background-color: transparent;
color: #b1b1b1;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: #dadada solid 1px;
  padding: 10px 0px;

}
